@import "./media.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#banner {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  flex-direction: column;

  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 132px;
    position: relative;
    max-width: unset;

    .img {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: 100%;
      justify-content: center;

      @include md {
        justify-content: flex-start;
      }

      img {
        width: 100%;
        object-fit: cover;
        max-width: 1000px;
        margin-bottom: -120px;

        @include md {
          width: 100%;
        }
      }
    }

    .background {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        background: url("../assests/Logo (3)/Logo.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        transform: translate(-50%, -50%);
        z-index: 11;
      }

      .div_1 {
        background-color: #009344;
        height: 65px;
        width: 100%;
      }

      .div_2 {
        background-color: #fee141;
        height: 75px;
        width: 100%;
      }

      .div_3 {
        background-color: white;
        width: 100%;
        height: 350px;
        @include md {
          height: 180px;
        }
      }

      .div_4 {
        background-color: #f85f23;
        height: 55px;
        width: 100%;
      }
    }
  }

  .bottom_des {
    position: relative;
    background-color: black;
    width: 100%;

    .bottom_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      margin: auto;
      padding: 140px 20px 70px;
      row-gap: 15px;

      h1 {
        font-size: 40px;
        font-weight: 400;
        color: #e9e71b;
        text-align: center;
        max-width: 900px;
        font-family: "Anuphan", sans-serif;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        max-width: 900px;
        color: white;
        font-family: "Armata", sans-serif;
      }
    }
  }
}
