@import "./media.scss";

#chart {
  background-color: #009344;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 70px 20px;
    margin: auto;

    .heading {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 34px;
        font-weight: 400;
        color: #fff;
        font-family: "Anuphan", sans-serif;
      }
    }

    .des {
      font-size: 22px;
      color: #fff;
      text-align: center;
      max-width: 900px;
      font-family: "Armata", sans-serif;
    }

    .bottom_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      a {
        width: 100%;
        text-align: center;

        img {
          width: 100%;
          object-fit: contain;
          max-width: 250px;
        }
      }
    }
  }
}
