@import "./media.scss";

#tokenomics {
    background-color: white;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 70px 20px;

        .heading {
            display: flex;
            align-items: center;
            justify-content: center;
    

            h1 {

                font-size: 34px;
                font-weight: 400;
                color: black;
                font-family: 'Anuphan', sans-serif

            }
        }

        .des {
            font-size: 20px;
            color: rgb(51, 51, 51);
            text-align: center;
            max-width: 900px;
            font-family: 'Armata', sans-serif;
        }
    }
}